:root{
    --color-menu-text:#4a4a4a;
    --color-background:#3CDBC0;
    --color-title:#FFFFFF;

    font-family: 'Rubik', sans-serif;
}

html{
    font-size: 62.5%;
}

/*Blanca Ubis Martínez - Módulo 1 - Evaluación intermedia*/

/*START header mobile version*/
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: var(--color-title);
}

.header-logo-img{
    width: 155px;
    padding-top: 10px;

}

.header-nav{
    margin-top: 10px;
    margin-bottom: 13px;
}

.header-nav-ul{
    display: flex;
    justify-content: center;
}

.header-nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-menu-text);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
}

/*END header mobile version*/

/*START main mobile version*/

.main{
    background-color: var(--color-background);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title{
    font-size: 3rem;
    font-weight: 700;
    color:var(--color-title);
    text-align: center;
    word-spacing: 100vw;
    text-transform: capitalize;
}

/*END main mobile version*/

/*START tablet/PC version (min-width 768px)*/

@media  all and (min-width:768px) {
    .header{
        flex-direction: row;
        justify-content: space-between;
    }
    .header-logo-img{
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 18px;
    }
    .header-nav{
        margin-right: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .main-title{
        font-size: 4rem;
    }
}

/*END tablet/PC version (min-width 768px)*/